img.inline_icon {
  border:0px;
}

table.users {
  table-layout:auto;
  width:100%;
  margin:0;
  border-collapse:collapse;
}

table.users th {
  text-align:left;
  font-weight:bold;
  margin:0px;
  padding:0.4em 1em 0.2em 0.2em;
  border-bottom:2px solid black;
}

table.users td {
  margin:0px;
  padding:0.5em 1em 0.5em 0.2em;
  border-bottom:1px solid silver;
}

table.users td.user_icon {
  padding-left:24px;
  background:url('/images/authentication_engine/user.png') 0px 6px no-repeat;
}

span.user_icon {
  padding-left:24px;
  background:url('/images/authentication_engine/user.png') 0px 0px no-repeat;
}

table.users td a, table.groups td a {
  color:black;text-decoration:none;
}

table.users td a:visited, table.groups td a:visited  {
  color:black;text-decoration:none;
}

table.users td a:hover, table.groups td a:hover {
  color:black;text-decoration:underline;
}
