[submodule "vendor/jquery-humanmsg"]
	path = vendor/jquery-humanmsg
	url = git://github.com/ambethia/humanmsg.git
[submodule "vendor/plugins/open_id_authentication"]
	path = vendor/plugins/open_id_authentication
	url = git://github.com/rails/open_id_authentication.git
[submodule "vendor/plugins/sprockets-rails"]
	path = vendor/plugins/sprockets-rails
	url = git://github.com/sstephenson/sprockets-rails.git
[submodule "vendor/plugins/authentication_engine"]
	path = vendor/plugins/authentication_engine
	url = git://github.com/angantyr/authentication_engine.git
