@import blueprint/reset.sass
@import partials/base.sass
@import blueprint
@import blueprint/modules/scaffolding.sass
@import compass/utilities/lists.sass
@import compass/utilities/links.sass

+blueprint

+blueprint-typography
+blueprint-scaffolding

body
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction

form
  +blueprint-form
  +blueprint-form-sizes(300px, 300px, 36px)

/* = Navigation
  ------------------------------------------------------ */

ul.navigation
  +horizontal-list
  margin-left: 0px !important

  &.books li.books,
  &.users li.users
    a
      background-color: #333

  li
    +no-bullet

    a
      +link-colors(#fff, #fff, #fff, #fff, #fff)
      text-decoration: none
      padding: 5px
      background-color: #666

      &:hover
        background-color: #333

/* = Humane Messages
  ------------------------------------------------------ */

@import humanmsg.sass

.humanMsg
  +rounded-corners

  .round
    border: none


/* = Book Lookup
  ------------------------------------------------------ */

#book-lookup

  form
    text-align: right
    margin-bottom: 1em

    input[type=search]
      width: 400px
      font-size: 2em
      padding: 5px

  &-results
    margin-left: 0
    margin-right: 0
  
    li
      +no-bullet
      border: 1px solid #ccc
      background-color: #eee
      margin-bottom: 1em

      &.result:hover
        background-color= !blueprint_table_stripe_color
        border-color= !blueprint_table_header_color
        cursor: pointer

      &.result.ui-selected
        background-color= !blueprint_table_stripe_color
        border-color= !blueprint_table_header_color

    img
      float: left
      padding: 5px

    p
      margin-top: 1em

      .title
        font-weight: bold
        font-size: 1.2em

      .author:before
        content: 'by '

      .publisher:after
        content: ";"

      .edition:before
        content: "Edition "

      .copyright:before
        content: "("

      .copyright:after
        content: ")"

      .asin, .cover_uri
        display: none
