@import compass/utilities/lists.sass
@import compass/utilities/links.sass
@import functions.sass
@import layout.sass

/* = Humane Messages
  ------------------------------------------------------ */

@import humanmsg.sass

.humanMsg
  +rounded-corners

  .round
    border: none

/* = Book Lookup
  ------------------------------------------------------ */

#book-lookup

  form
    text-align: right
    margin-bottom: 1em

    input[type=search]
      width: 400px
      font-size: 2em
      padding: 5px

  &-results
    margin-left: 0
    margin-right: 0
  
    li
      +no-bullet
      border: 1px solid #ccc
      background-color: #eee
      margin-bottom: 1em

      &.result:hover
        background-color: #E5ECF9
        border-color: #C3D9FF
        cursor: pointer

      &.result.ui-selected
        background-color: #E5ECF9
        border-color: #C3D9FF

    img
      float: left
      padding: 5px

    p
      margin-top: 1em

      .title
        font-weight: bold
        font-size: 1.2em

      .author:before
        content: 'by '

      .publisher:after
        content: ";"

      .edition:before
        content: "Edition "

      .copyright:before
        content: "("

      .copyright:after
        content: ")"

      .asin, .cover_uri
        display: none
