%h2 Books

%table
  %thead
    %tr
      %th Title
      %th Author
      %th Copyright
      %th Edition
      %th Publisher
      %th Download
      %th Uploader
      %th
  %tbody
    - @books.each do |book|
      %tr
        %td=h book.title
        %td=h book.author
        %td=h book.copyright
        %td=h book.edition
        %td=h book.publisher
        %td
          =link_to book.document_type, book.document.try(:url)
          %small.quiet= "(#{number_to_human_size(book.document_file_size)})"
        %td
          =h book.uploader.try(:name)
        %td
          -if current_user == book.uploader
            = link_to 'edit', ['edit', book]

.mod
  = link_to 'Upload a Book', new_book_path, :class => 'add button'
